ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: linear-gradient(180deg, rgb(139, 127, 219), rgb(87, 153, 215));
  }
  
  li {
    float: left;
  }
  .logo{
    font-weight: 800;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: large;
  }
  .login{
    font-weight: 500;
    float:right;
  }
  
  .login:hover {
    background-image: linear-gradient(90deg, rgb(186, 180, 223), rgb(157, 189, 219));
  }